 body{
    margin:0;
    font-family:cursive;

 }
 p{
    text-align: center;
    color: black;
    margin:0;
    padding: 74px;
    padding-top: 0;
    padding-left: 50px;
    padding-bottom: 10px;
 }
.img img{
    width:150px;
    height:75%;
    padding-left: 20px;
    padding-top: 10PX;

}
.first_part
{
    background-image: url(home.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size:cover ;

    width:100%;
    height:100vh;
    
}
.img
{
   background-color: transparent;
    width:50%;
    height:60px;
    float: left;

    
}
li
{
    list-style-type: none;
    float: left;
    margin-left: 20px;
    
    
    
}
ul{
    margin-left: 200px;
}
.nav
{
    background-color: transparent;
    width:50%;
    color: white;
    height: 60px;
    float: left;
    font-weight: bold;
   
}
.clr
{
    clear: both;
}
.name{
    color: white;
padding-left: 500PX;
padding-top: 95px;
font-size: 30px;
}
span{
    color: white;
 padding-left: 150PX;
margin-top: 30px;

}
.p1{
    color: rgb(190, 186, 186);
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    
}
.one
{   background-color: rgb(68, 42, 35);
    padding: 12px;
    color: white;
    border: 0px;
    border-radius: 5px;
    margin-left: 625px;
    margin-top: 30px;
    
    
    
}
.two
{
    background-color: transparent;
    padding: 10px;
    color: white;
    border: 2px solid white;
    border-radius: 5px;

    
}


.img2
{
    float: left;
    width: 50%;
    background-color: transparent;
     margin-top: 20px;

}
.img2 img{
    width: 520px;
    height: 500px;
    padding-left: 60px;
}
.text2
{
    float: left;
    width:50%;
    background-color: transparent;
    margin-top: 20px;
}
h2{
    text-align: center;
}

.clr
{
    clear: both;
}
.text3
{
    float: left;
    width:50%;
    background-color: transparent;
    margin-top: 20px;
    
}
.img3
{
    float: left;
    width: 50%;
    background-color: transparent;
    margin-top: 20px;
     
}
.img3 img{
    width: 520px;
    height: 500px;
    padding-left: 60px;
}
.text4
{
    float: left;
    width:50%;
    background-color: transparent;
    margin-top: 20px;
    
}
.img4
{
    float: left;
    width: 50%;
    background-color: transparent;
    margin-top: 20px;
     
}
.map iframe{
    width: 520px;
    height: 500px;
    padding-left: 60px;
    margin-top: 20px;
}

.pics img
{
    float: left;
    width: 90%;
    height: 290px;
    padding-left: 33px;


}
.pic
{
    float: left;
    width: 33%;
    text-align: center;
}
.section5
{
    background-color: transparent;
}



.ic{
    padding: 0px;
    background-color: transparent;
    float: left;
    width: 6%;
    font-size: 0px;
}



.pic p
{
    padding-left: 35px;
    padding-bottom: 70px;
}
.section6
{
    color: rgb(190, 186, 186);
    
   
    
}
.footer p
{
    color: rgb(190, 186, 186);
    padding-left: 20px;
    text-align: left;
}
.footer h2
{
    padding-left: 35px;
    text-align: left;
}

.footer{
    float: left;
    width:25%;
    background-color:rgb(68, 42, 35) ;
    text-align: left;
    height: 450px;
    
}
.footer p i{
    padding-right: 10px;
}
.line
{
    height: 1px;
    background-color: black;
    width:85%;
    text-align: center;
}
.final
{
    background-color: rgb(88, 64, 57) ;
    height:200px
}
.final img
{
    width: 25%;
    height: 50%;
    padding: 40px;
    padding-left: 470px;
}
.final p
{
    color: rgb(190, 186, 186);
    margin-top: -60px;
}
.text4 p
{
    text-align: left;
    padding-left: 25px;
}
.text4 i
{
    font-size: 20px;
    border: 1px solid rgb(68, 42, 35);
    color: white;
    border-radius: 50%;
    background-color: rgb(68, 42, 35);
    padding: 10px;
    margin-right: 10px;
}
.section3
{
    background-color: rgb(169 118 29 / 34%);
    height: 540px;
}
.texti i 
{
border: 1px solid black;
background-color: transparent;
border-radius: 50%;
color:  rgb(68, 42, 35);
padding:10px;
text-align: left;
}
.texti  p
{
    text-align: left;
}
.pic h2
{
    margin-top: 300px;
    margin-bottom: 5px;
}
.final i
{


    font-size: 20px;
    padding-left: 5px;
    color: rgb(190, 186, 186);
}
.finalic
{
    margin-left: 610px;
}
a
{
    color: white;
}